# This CircleCI configuration is for testing the-build itself. For the configuration
# installed in projects, see defaults/install/.circleci/config.yml

version: 2
jobs:
  build:
    working_directory: ~/example
    docker:
      - image: cimg/php:7.4-browsers
      - image: cimg/mysql:5.7
        command: --max_allowed_packet=16M
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_ROOT_PASSWORD: ''
          MYSQL_DATABASE: circle_test

    environment:
      - PALANTIR_ENVIRONMENT: circleci
      - DRUPAL_ROOT: docroot

    steps:
      - run:
          name: Install packages
          command: |
            sudo apt-get update && apt-get install -y libpng-dev default-mysql-client
      - run:
          name: Configure PHP
          command: |
            echo "sendmail_path=/bin/true" | sudo tee -a "/etc/php.d/circleci.ini"
      - run:
          name: Create artifacts directory
          command: mkdir /tmp/artifacts
      - run:
          name: Configure URL in /etc/hosts
          command: echo 127.0.0.1 example.ddev.site | sudo tee -a /etc/hosts

      # Note: phing and drupal-check have mutually exclusive requirements.
      # It'd be better to add drupal-check as a dependency of the drupal project
      # rather than as part of the virtual environment, but this will have to do
      # for now. Also note, drupal-check is added as part of the-vagrant so it
      # is available to run within our VM.
      # Note 2: drupal-check is pinned to a known stable version.
      - run:
          name: Install drupal-check
          command: |
            composer global require mglaman/drupal-check
            ln -s ~/.config/composer/vendor/bin ~/bin

      # Composer package cache
      - restore_cache:
          keys:
            - composer-v1-
      # Source cache
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}
            - source-v1-

      # Create a new project using the drupal-skeleton project
      - run:
          name: Create a new Drupal project
          command: composer create-project palantirnet/drupal-skeleton example dev-develop --no-interaction
          working_directory: ~/

      # Use this copy of the-build
      - run:
          name: Replace the default version of the-build with this one
          command: rm -r vendor/palantirnet/the-build

      - checkout:
          path: ~/example/vendor/palantirnet/the-build

      # Source cache - update when branch changes
      - save_cache:
          key: source-v1-{{ .Branch }}
          paths:
            - ".git"

      # Install the-build
      - run:
          name: Install the-build in the project
          command: printf '\n\n\nn' | vendor/bin/the-build-installer

      - run:
          name: Wait for DB
          # Dockerize is preinstalled in circleci/* docker image
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 120s

      # Install Drupal (separately, so that we can see it fail separately)
      - run:
          name: Install Drupal
          command: printf 'y' | vendor/bin/phing install -Ddrupal.validate_clean_config.bypass=yes

      # Composer package cache - update when the contents of the Composer cache directory
      # change. This cache is saved after installing Drupal, as the install process uses
      # composer to add a few modules.
      - run: ls -1R ~/.cache/composer/ > /tmp/composer-cache.txt
      - save_cache:
          key: composer-v1-{{ checksum "/tmp/composer-cache.txt" }}
          paths:
              - ~/.cache/composer

      # Add a multisite
      - run:
          name: Add a multisite to the project
          command: printf 'intranet\nintranet.example.ddev.site' | vendor/bin/phing drupal-add-multisite

      - run:
          name: Run Behat tests
          command: |
              nohup php -S example.ddev.site:8000 -t $(pwd)/${DRUPAL_ROOT}/ > /tmp/artifacts/phpd.log 2>&1 &
              vendor/bin/phing test -Dbuild.env=circleci

      - store_artifacts:
          path: /tmp/artifacts
      - store_test_results:
          path: /tmp/artifacts

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
                - /.*(readme|documentation).*/
